@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #f5cece;
    --background-btn: #ffff;
    --background-content: #fff;
    --text-color: #ef4444;
    --border: #FCA5A5;
    --shadow: #2424243f;
}

body{
    min-height: 100vh;
}

.main{
    min-height: 100vh;
    display: flex;
    padding: 10px 1em;
    background-color: var(--background-color);
    .content{
        flex-direction: column;
        display: flex;
        margin: auto;
        height: 95vh;
        flex-grow: 1;
        background-color: var(--background-content);
        box-shadow: 2px 4px 8px rgba(0,0,0,.5);
        gap: 1rem;
        padding: .645rem;
    }
}


button{
    padding: 10px 15px;
    width: 100%;
    border-radius: 4px;
    border: solid 2px var(--border);
    outline: none;
    background-color: var(--background-btn);
    color: var(--text-color);
    transition: ease-in-out .5s;
    box-shadow: 2px 2px 8px var(--shadow);
    &:hover{
        background-color: var(--text-color);
        color: var(--background-btn);
        transform: scale(1.03);
        border: solid 2px var(--background-btn);
    }
}

input{
    padding: .4em 1em;
    border-radius: 4px;
    outline: none;
    border: solid 1px var(--text-color);
    box-shadow: 2px 2px 8px var(--shadow);
    background-color: var(--background-btn);
    color: #242424;
    
    &::placeholder{
        color: var(--text-color);
    }

    &:focus::placeholder{
        transform: translateY(-50px);
        transition: ease-in-out .5s;
    }
}



