
.inputBox{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
    margin: 30px auto;
    min-height: auto;
}

.linkToC{
    margin: 0 auto;
}

.linkToL{
    margin: 0 auto;
}

.btnC{
    margin: 10px auto;
}

.btnL{
    margin: 40px auto;
}


.viwer, .viwerNPC,.viwerNP, .viwerP, .viwerPC{
    position: absolute;
    right: 0;
}

.viwer, .viwerPC, .viwerNPC{
    bottom: 8px;
}

.viwerP, .viwerNP{
    bottom: 30%;
}


