.nav-bar{
    display: flex;
    border-bottom: solid 1px var(--border);
    width: 100%;
    border-radius: 8px;
    padding: 0 10px 5px 10px;
    border-radius: 8px 8px 0 0;
    flex-direction: column;
    margin: 0 auto;
    gap: 5px;
    background-color: var(--text-color);
    box-shadow: 2px 2px 8px #00000019;
    position: relative;

    .link{
        position: absolute;
        left: 10px;
    }
}