

.catalog{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    box-shadow: 2px 0px 10px #0000005d;
    border-radius: 0 0px 8px 8px;
    overflow-x: auto;
    gap: 0 60px;
    justify-content: start;
    padding: 10px 40px;
    .wall{
        display: flex;
        height: 100%;
        min-width: 100%;
        padding: 10px;
        gap: 40px;
    }

    

    .card{
        display: flex;
        box-shadow: 2px 2px 10px #00000035;
        background-color: #f3959540;
        min-height: 330px;
        width: 280px;
        margin: auto;
        position: relative;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    button{
        position: absolute;
        padding: 2px;
        right: 5px;
        bottom: 5px;
        &:hover{
            background-color: var(--background-content);
        }

        img{
            height: 100%;
            width: 100%;
        }
    }
}

img {
    height: 80%;
    width: 80%;
    border-radius: 8px;
}