

.inputBoxOld{
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 15px;
    flex-grow: 1;
}

.inputBoxNew{
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 15px;
    flex-grow: 1;
}

.inputs{
    display: flex;
    height: 50%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px 15px;
    padding: 20px 10px;
}